<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{page.title}}</title>
<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css">
<link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
<link href="{{site.baseurl}}/sass/base.css" rel="stylesheet">
<link href="{{site.baseurl}}/sass/layout.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="{{site.baseurl}}/js/theme.js"></script>
