<header>
  <nav class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="{{site.baseurl}}/">Home</a>
        </li>
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="{{site.baseurl}}/contact/">Contact</a>
        </li>
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="{{ site.baseurl }}{% post_url /posts/2017-01-22-save-the-date %}">Save the date</a>
        </li>
    </ul>
  </nav>
</header>
