<!doctype html>
<html lang=en-ca>
<html>
<head>
	<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{page.title}}</title>
	<link href="{{site.baseurl}}/sass/base.css" rel="stylesheet">
	<link href="{{site.baseurl}}/sass/layout.css" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css">
</head>
<body>

{% include header.html %}

<main>
  {{content}}
</main>

{% include footer.html %}

</body>
</html>
